//----------------HEADERS-----------------

@mixin header($margin, $color1, $color2, $span) {
  h1 {
    margin: $margin;
    // font-size: 5rem;
    color: $color1;
    line-height: 140%;

    span {
      display: $span;
      color: $color2;
    }
  }
}

//----------------LAYOUT-----------------

@mixin backImage($deg, $point1, $point2, $path) {
  background-image: linear-gradient($deg,
      rgba($color-honey, 0.8) $point1,
      rgba($color-white, 0.8) $point2,
      rgba($color-white, 0.8) 100%,
      transparent 50%),
      $path;
      
}

@mixin layout($path, $bc-size, $bc-pos) {
  position: relative;
  background-image: linear-gradient(58deg,
      rgba($color-white, 1) 62%,
      rgba($color-honey-2, 0.9) 62%,
      rgba($color-honey-2, 0.9) 100%,
      transparent 50%),
    $path;
  background-size: $bc-size;
  background-position: $bc-pos;
  background-repeat: no-repeat;
  // height: calc(200vh - 5px); // this help to keep slice background in the same place
}

@mixin layoutHero($path, $bc-size, $bc-pos ) {
  position: relative;
 @include backImage(58deg, 62%, 62%, $path); 
  background-size: $bc-size;
  background-position: $bc-pos;
  background-repeat: no-repeat; 
}