@mixin hexagon {
  clip-path:polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

@mixin shadow {  
  filter:drop-shadow( -4px 2px 5px rgba(79, 79, 79, 0.8));
}

@mixin btn {
  border: none;
  display: block;
  width: 20rem;
  height: 6rem;
  border-radius: 5%;
  // color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
border:2px solid $color-gray;
}

@mixin shadow2{
  filter: 
drop-shadow( -1px 2px 2px rgba(0, 0, 0, 0.25));
}
@mixin rotate {
  transform: rotate(-134deg);
}
@mixin hexRotate {
  transform: rotate(-107.04deg);

}