@mixin hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

@mixin shadow {
  filter: drop-shadow(-4px 2px 5px rgba(79, 79, 79, 0.8));
}

// @mixin span {
//   display: block;
//   color: $color-honey;
// }

//--------------------HEXAGON WITH WHITE BORDER
@mixin hexFrame {
  position: absolute;
  z-index: 1;
  @include hexagon;
  mix-blend-mode: normal;
  background-color: $color-white-2;
  transform: rotate(-74deg);

}

@mixin overlay {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-3deg);
  clip-path: polygon(53% 9px, 97% 29%, 94% 74%, 48% 95%, 6px 71%, 12px 25%);
  background: $color-white;
}



//----------------SHADOWS-----------------
@mixin shadow2 {
  filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}

@mixin rotate {
  transform: rotate(-134deg);
}

@mixin hexRotate {
  transform: rotate(-107.04deg);
}

//NAVIGATION



@mixin list {
  list-style: none;

  margin: 0;
  padding-top: 5em;
  min-height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 2.4rem;
  // text-transform: uppercase;

}

@mixin item {
  display: inline-block;
  width: 17rem;
  padding: 2rem 0 2rem;
  color: $color-gray;
  background: none;
  text-decoration: none;
}
//created for different types of forms
@mixin fieldset {
  padding: 1rem;
  margin: 0;
  border: 0;
  min-width: 0;
}