@mixin hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

@mixin shadow {
  filter: drop-shadow(-4px 2px 5px rgba(79, 79, 79, 0.8));
}

@mixin span {
  display: block;
  color: $color-orange;
}


//----------------BUTTONS-----------------
@mixin btn { 
  border:none;
  border-radius: 5%; 
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  
  transition: all 0.2s ease;
  padding: 1.6rem 3rem;
}
@mixin btn--small {
  // width: 15rem;
  // height: 3.5rem;
  border-radius: 5%; 
      font-size: 1.2rem;      
      padding: .8rem 2rem;
      color: $color-gray-2;

}
@mixin btn--yellow {
  background-color: $color-yellow;
  font-size: 2rem;
  color: $color-gray; 
  border: 2px solid $color-gray;
}
@mixin btn--white {
  background-color: $color-white;
  // font-size: 1.6rem;
  color: $color-gray; 
  border: 2px solid $color-gray;
}

@mixin btn--login {
  margin-right: 2rem;  
  font-weight: lighter;
 

}
@mixin btn--register {
  border-width: 1px;
  border-style: solid;
  font-weight: lighter;

 
  background-color: transparent;
}
//----------------SHADOWS-----------------
@mixin shadow2 {
  filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}
@mixin rotate {
  transform: rotate(-134deg);
}
@mixin hexRotate {
  transform: rotate(-107.04deg);
}


