

//FONTS 

$font-secondary: 'Poppins',
sans-serif;
$font-primary: 'Bungee',
cursive;

//COLORS
$color-honey: #EECF90;
$color-orange: #F2994A;
$color-gray: #333333;
$color-white: #ffffff;
$color-sarah: #3c4142;
$color-white-2: #F2F2F2;
;