

//FONTS 

$font-secondary: 'Poppins',
sans-serif;
$font-primary: 'Bungee',
cursive;

//COLORS
$color-honey: #EECF90;
$color-honey-2: #D5B275;
$color-honey-3: #F1E2C4;
$color-honey-4: #FADEA4;

$color-orange: #F2994A;
$color-yellow: #F6C768;

$color-red: #963B29;
$color-red-2: #E05E58;


$color-blue: #4C4DE0;
$color-green: #79E0A0;

$color-gray: #333333;
$color-sarah: #3c4142;

$color-gray-2:#BDBDBD;
$color-gray-3:#828282;
$color-gray-4:#796E5C;
$color-dark: #4F4F4F;

$color-white: #ffffff;
$color-white-2: #f2f2f2;

;