//FONTS

$font-secondary: 'Poppins', sans-serif;
$font-primary: 'Bungee', cursive;

//COLORS
$color-honey: #eecf90;
$color-honey-2: #d5b275;
$color-honey-3: #f1e2c4;
$color-honey-4: #fadea4;
$color-honey-5: #edd6a3;
$color-honey-6: #ddbd85;
$color-honey-7: #d7b57a;

$color-orange: #f2994a;
$color-yellow: #f6c768;

$color-red: #624b47;
$color-red-2: #e05e58;
$color-red-3: #ed806b;

$color-blue: #4c4de0;
$color-green: #79e0a0;

$color-gray: #333333;
$color-sarah: #3c4142;

$color-gray-2: #bdbdbd;
$color-gray-3: #828282;
$color-gray-4: #796e5c;
$color-dark: #4f4f4f;

$color-white: #ffffff;
$color-white-2: #f2f2f2;

//margins

$sectionMargin: 14rem;
