@charset "UTF-8";
section.the-best,
section.about {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.section--hidden {
  opacity: 0;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

#sectionMarginBtm {
  margin-bottom: 14rem;
}

em {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-family: "Bungee", cursive, sans-serif;
  font-weight: normal;
  margin: 0;
}

h4,
h5 {
  font-weight: 300;
}

@media (min-width: 800px) {
  .hidden {
    visibility: hidden;
  }
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  border-radius: 5%;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn:active, .btn:focus {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

/* round of applause to Chris Coyer: https://css-tricks.com/the-current-state-of-styling-selects-in-2019/
*/
/* class applies to select element itself, not a wrapper element */
.input-css {
  display: inline-block;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 700;
  color: #333333;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  padding: .5rem 1rem;
  width: 45rem;
  max-width: 40%;
  margin: 0;
  border: 1px solid #4F4F4F;
  border-radius: .3em;
}

.wrapper--hero {
  position: relative;
  background-image: linear-gradient(58deg, rgba(238, 207, 144, 0.8) 62%, rgba(255, 255, 255, 0.8) 62%, rgba(255, 255, 255, 0.8) 100%, transparent 50%), url(../../src/images/hero_bg.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .wrapper--hero {
    background-image: linear-gradient(72deg, rgba(238, 207, 144, 0.8) 72%, rgba(255, 255, 255, 0.8) 72%, rgba(255, 255, 255, 0.8) 100%, transparent 50%), url(../../src/images/hero_bg.jpg);
  }
}

@media (max-width: 992px) {
  .wrapper--hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero {
  margin-top: 9rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 40% 50%;
      grid-template-columns: 10% 40% 50%;
  grid-row-gap: 11rem;
  justify-items: start;
}

@media (max-width: 768px) {
  .hero {
    -ms-grid-columns: 10% 50% 40%;
        grid-template-columns: 10% 50% 40%;
    grid-row-gap: 6rem;
  }
}

.hero__title {
  line-height: 130%;
  color: #333333;
}

.hero__title-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.hero__title-container span {
  color: #ffffff;
}

.hero__intro {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 400;
}

.hero__btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: .5rem 2.5rem;
  background-color: #F6C768;
  font-size: var(--h5);
  color: #333333;
  border: 2px solid #333333;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
  margin-bottom: 14rem;
}

@media (max-width: 576px) {
  .hero__btn {
    padding: .2rem 1.5rem;
  }
}

.navigation__row {
  /* places hamburger button and logo next to each other */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  /* Screen reader only 
    https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html for more info */
  /* Hamburger button styling. "Button" is the bars icon from FontAwesome. */
}

.navigation__row--first {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__row .fa,
.navigation__row .fas {
  margin-top: 10px;
}

.navigation__row svg.logo--double {
  width: 12rem;
  height: auto;
  margin: 10px 15px;
}

@media (max-width: 400px) {
  .navigation__row svg.logo--double {
    height: 4rem;
  }
}

@media (max-width: 768px) {
  .navigation__row svg.logo--double {
    width: 9rem;
  }
}

.navigation__row .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navigation__row .menu-toggle {
  color: #333333;
  margin-left: 1rem;
  font-size: var(--h2);
  margin-left: 1rem;
}

.navigation__row .menu-close {
  color: #ffffff;
  margin-right: 1rem;
  font-size: var(--h2);
}

.navigation__row .menu-toggle:hover,
.navigation__row .menu-toggle:focus,
.navigation__row .menu-close:hover,
.navigation__row .menu-close:focus {
  color: #828282;
}

.navigation__buttons .btn {
  margin: 15px;
  position: relative;
  z-index: 2;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: .5rem 2.5rem;
  padding: .5rem 2rem;
  color: #828282;
}

@media (max-width: 576px) {
  .navigation__buttons .btn {
    padding: .2rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .navigation__buttons .btn {
    padding: 2px 10px;
  }
}

@media (max-width: 400px) {
  .navigation__buttons .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__buttons .btn a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  border: none;
  color: inherit;
}

.navigation__buttons .btn--login {
  margin-right: 2rem;
  font-weight: lighter;
  background-color: #f2f2f2;
}

.navigation__buttons .btn--register {
  border-width: 1px;
  border-style: solid;
  font-weight: lighter;
  background-color: transparent;
}

.navigation__icon {
  border-top: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 3rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navigation__icon img:not(last-of-type) {
  margin-right: 2rem;
}

.navigation__item--burger a {
  display: inline-block;
  width: 100%;
  margin-top: 3rem;
  border-top: 1px solid #333333;
}

.navigation__nav {
  /*
   Mobile first - this is the mobile menu, positioned offscreen to start 
  */
  /* set the menu in a fixed position occupying 100% of the screen height, so you can't scroll away from it. Have nav scrollbars appear when needed. Any long nav names should be fully visible. */
  position: fixed;
  display: none;
  left: -250px;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 999;
}

.navigation__nav .menu-close {
  /* "close" button is positioned in the upper right corner. Button is the X / fa-close button from FontAwesome. If you want it bigger, do it here */
  position: absolute;
  left: 1rem;
  font-size: var(--h2);
}

.navigation__nav:target {
  /*
      THE MAGIC: When main-menu is targeted, show the menu by displaying it and setting left to 0 instead of -200px

      How is it targeted? Follow the HTML, line 18  <a href="#main-menu" id="main-menu-toggle" class="menu-toggle" aria-label="Open main menu">

      Note the href targets the main menu (both class and ID)
  */
  display: block;
  left: 0;
  outline: none;
}

.navigation__nav:target .menu-close {
  /* when main menu is targeted (button is clicked), bring the X to the top so it can be clicked */
  z-index: 1001;
}

.navigation__nav:target ul {
  position: relative;
  z-index: 1000;
}

.navigation__nav:target + .backdrop {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

.navigation__list, .navigation__description {
  /* turn off bullets, set width and background color of flyout menu. Width here and "left" property on main-menu should be the same absolute number */
  list-style: none;
  margin: 0;
  padding-top: 5em;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2.4rem;
  display: block;
  background-color: #EECF90;
  width: 250px;
  padding: 4rem;
}

.navigation__list li, .navigation__description li {
  margin-bottom: 2rem;
}

.navigation__description {
  margin-top: 0;
  margin-bottom: 0;
}

.navigation a {
  text-decoration: none;
}

.navigation__link {
  /* Make links block to make them fully clickable on mobile. Remember this is finger navigation, so include plenty of clickable area. All links get a bottom border */
  padding: 3rem;
  text-decoration: none;
  color: #333333;
}

.navigation__link:hover, .navigation__link:focus {
  color: #666666;
}

@media (min-width: 800px) {
  .navigation__row .menu-toggle {
    /* fa-bars and fa-close not needed on desktop so hide them */
    display: none;
  }
  .navigation__row--second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navigation__row--second.sticky {
    position: fixed;
    top: -3rem;
    background-color: white;
    z-index: 999;
    height: 8rem;
    max-width: 1440px;
  }
  .navigation__row--second.sticky ::before {
    content: '';
    background-image: url(../src/images/logo_footer.svg);
    width: 15rem;
    height: 5rem;
    left: 15px;
    top: 18px;
    background-repeat: no-repeat;
  }
  .navigation__nav {
    padding: 0.3rem 0;
    /* Undo positioning of off-canvas menu - remember this is hidden by default. Default position property is static, i.e. normal flow */
    position: static;
    display: block;
    overflow-y: visible;
  }
  .navigation__nav .menu-close {
    display: none;
  }
  .navigation__nav--hidden {
    display: none;
  }
  .navigation__list, .navigation__description {
    /* Undo off-canvas styling */
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    background: transparent;
    width: 100vw;
    max-width: 1440px;
    height: 10rem;
    padding: 0;
  }
  .navigation__list li, .navigation__description li {
    margin-bottom: 0rem;
  }
  .navigation__list::before, .navigation__description::before {
    content: '';
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 5rem;
  }
  .navigation__item {
    /* display the li's horizontally */
    display: inline-block;
    width: 17rem;
    padding: 2rem 0 2rem;
    color: #333333;
    background: none;
    text-decoration: none;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  .navigation__item {
    width: 14rem;
  }
}

@media (min-width: 800px) {
  .navigation__item:not(:last-child) {
    margin-right: 1.8rem;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  .navigation__item:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (min-width: 800px) {
  .navigation__icon, .navigation__item--burger {
    display: none;
  }
  .navigation__link {
    color: #333333;
    display: inline;
    font-size: var(--h5);
    border-bottom: none;
    position: relative;
    z-index: 3;
  }
  .navigation__link.active {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
    -webkit-transition: hover .5s ease;
    transition: hover .5s ease;
  }
  .navigation__link.active::before {
    content: '';
    position: absolute;
    z-index: -4;
    width: 65px;
    height: 74.8px;
    top: 6px;
    left: 23px;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: #ffffff;
    -webkit-transform: rotate(-134deg);
            transform: rotate(-134deg);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .navigation__link:first-of-type {
    border-top: none;
  }
  .navigation__link:hover {
    background: none;
    text-decoration: none;
  }
  .navigation__description {
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
}

.navigation__list--white::before {
  background-color: #ffffff;
}

.navigation__buttons .btn--login2 {
  margin-right: 2rem;
  font-weight: lighter;
  background-color: #d5b275;
  color: #ffffff;
}

.navigation__buttons .btn--register2 {
  border-width: 1px;
  border-style: solid;
  font-weight: lighter;
  background-color: transparent;
  color: #ffffff;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14rem 10vw;
  height: auto;
  text-transform: none;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 99, 73, 0.902)));
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));
}

@media (max-width: 996px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__hello h1 {
  margin: 0 4rem 0 0;
  color: #EECF90;
  line-height: 140%;
}

.info__hello h1 span {
  display: block;
  color: #ffffff;
}

@media (max-width: 996px) {
  .info__hello h1 {
    margin: 0;
  }
}

.info__address {
  margin-top: 14rem;
  color: #F1E2C4;
}

.info__address p {
  font-family: "Poppins", sans-serif;
}

.the-best {
  background-image: linear-gradient(109deg, rgba(255, 255, 255, 0.9) 69%, rgba(238, 207, 144, 0.9) 69%, rgba(238, 207, 144, 0.9) 100%, transparent 50%);
  background-size: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.the-best h1 {
  margin: 0;
  color: #333333;
  line-height: 140%;
}

.the-best h1 span {
  display: block;
  color: #EECF90;
}

.the-best h1 {
  padding: 14rem 10vw;
}

.the-best__img {
  background: #ffffff;
  width: 58rem;
  margin-top: -30rem;
  margin-left: 30rem;
  height: auto;
  opacity: 0.6;
}

@media (max-width: 992px) {
  .the-best__img {
    margin-top: -20rem;
    margin-left: 18rem;
  }
}

@media (max-width: 768px) {
  .the-best__img {
    width: 100vw;
    margin-top: -20rem;
    margin-left: 0;
  }
}

.the-best__beater {
  display: none;
  -webkit-transform: rotate(77.95deg);
          transform: rotate(77.95deg);
  overflow-x: hidden;
}

.the-best__beater img {
  position: absolute;
  bottom: -60px;
  left: 0;
  opacity: .8;
}

@media (max-width: 576px) {
  .the-best__beater img {
    width: 280px;
    left: 130px;
    bottom: 50px;
  }
}

.the-best__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  margin: 0 10vw;
  grid-row-gap: 20rem;
  color: #333333;
  position: relative;
}

.the-best__title {
  position: relative;
  z-index: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

.the-best__info {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 3rem;
  z-index: 3;
  position: relative;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

@media (max-width: 992px) {
  .the-best__info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
    padding-left: 5rem;
  }
}

.the-best .info--1,
.the-best .info--3 {
  padding-left: 15rem;
}

@media (max-width: 992px) {
  .the-best .info--1,
  .the-best .info--3 {
    padding-left: 5rem;
  }
}

.the-best .info--1::before,
.the-best .info--3::before {
  content: url(../../src/images/hexWhite3.svg);
  position: absolute;
  left: -140px;
  top: -58px;
  z-index: 1;
}

@media (max-width: 992px) {
  .the-best .info--1::before,
  .the-best .info--3::before {
    content: url(../../src/images/hexWhite4.svg);
    left: -80px;
  }
}

.the-best .info--1::after,
.the-best .info--3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #FADEA4;
  border-radius: 5px;
}

.the-best .info--2 {
  padding-right: 15rem;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 992px) {
  .the-best .info--2 {
    padding-right: 5rem;
  }
}

.the-best .info--2::before {
  content: url(../../src/images/hexWhite3.svg);
  position: absolute;
  right: -148px;
  top: -59px;
  z-index: 1;
}

@media (max-width: 992px) {
  .the-best .info--2::before {
    content: url(../../src/images/hexWhite4.svg);
    right: -80px;
  }
}

.the-best .info--2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  border-radius: 5px;
}

.the-best .info--3 {
  margin-bottom: calc(14rem + 4rem);
  position: relative;
}

.think_over {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 99, 73, 0.902)));
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));
  padding: 14rem 10vw;
}

.think_over h1 {
  margin: 0;
  color: #EECF90;
  line-height: 140%;
}

.think_over h1 span {
  display: block;
  color: #ffffff;
}

.think_over__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 7rem;
}

@media (max-width: 992px) {
  .think_over__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.think_over__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 992px) {
  .think_over__right {
    margin-top: 7rem;
  }
}

.think_over__btn {
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: .5rem 2.5rem;
  background-color: #F6C768;
  font-size: var(--h5);
  color: #333333;
  border: 2px solid #333333;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}

@media (max-width: 576px) {
  .think_over__btn {
    padding: .2rem 1.5rem;
  }
}

.think_over__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.think_over__box {
  background: #ffffff;
  height: 25rem;
  width: 600px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .think_over__box {
    width: 70vw;
  }
}

@media (max-width: 576px) {
  .think_over__box {
    width: 80vw;
  }
}

.think_over__recommend {
  height: 100%;
  display: none;
  font-family: "Poppins", sans-serif;
  padding: 3rem;
}

.think_over__recommend h4 {
  font-weight: 300;
  color: #333333;
  font-size: 2rem;
}

.think_over__recommend p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #963B29;
  font-size: 1.6rem;
}

.think_over .recommend--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.think_over__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .think_over__dots {
    height: 3rem;
  }
}

.think_over__dot {
  cursor: pointer;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.think_over__dot:not(:last-of-type) {
  margin-right: 3rem;
}

.think_over .dot--active {
  background-color: #F6C768;
}

.about {
  position: relative;
}

.about__header h1 {
  margin: 14rem 10vw;
  color: #333333;
  line-height: 140%;
}

.about__header h1 span {
  display: block;
  color: #d5b275;
}

.about__triangle {
  position: absolute;
  width: 400px;
  height: 600px;
  left: 0;
  background-color: #eecf90;
  -webkit-clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
          clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
  z-index: 1;
}

.about__triangle2 {
  position: absolute;
  width: 400px;
  height: 500px;
  bottom: 0;
  right: 0;
  background-color: #eecf90;
  -webkit-clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
  clip-path: polygon(100% 0px, 175px 120%, 100.55% 100%);
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .about__triangle2 {
    display: none;
  }
}

.about__text {
  position: absolute;
  z-index: 3;
}

.about__image {
  position: relative;
  min-height: 75vh;
  opacity: 1;
}

@media only screen and (min-width: 800px) {
  .about__image {
    min-height: 80vh;
  }
}

.about__image img {
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100vw;
  min-height: 100%;
}

.about__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 10rem;
  color: #333333;
  padding: 0 10vw 14rem 10vw;
}

@media only screen and (max-width: 992px) {
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__paragraph {
  position: relative;
  z-index: 3;
  max-width: 400px;
  margin: 0 auto;
}

.about__paragraph:not(:last-of-type) {
  margin-bottom: 7rem;
}

.about__paragraph span {
  position: absolute;
  z-index: -1;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}

.about__paragraph span::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 86px;
  top: -29px;
  left: -20px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #eecf90;
  -webkit-transform: rotate(-134deg);
          transform: rotate(-134deg);
}

.about__paragraph span::before {
  content: '';
  background: #EECF90;
}

.about .paragraph--1,
.about .paragraph--2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.about .paragraph--3,
.about .paragraph--4 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.about .paragraph--1,
.about .paragraph--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
}

.about .paragraph--2,
.about .paragraph--4 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8/11;
}

.about__info::first-letter {
  font-size: 5rem;
  color: #ffffff;
  line-height: 100%;
}

.questions {
  padding: 14rem 10vw;
  min-height: 600px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 99, 73, 0.902)));
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));
}

.questions h1 {
  margin: 0;
  color: #EECF90;
  line-height: 140%;
}

.questions h1 span {
  display: inline-block;
  color: #ffffff;
}

.questions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 624px) {
  .questions__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.questions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 19rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.questions__box p {
  color: #ffffff;
  text-align: center;
  width: 25rem;
}

.questions__btn {
  margin-top: 4rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: .5rem 2.5rem;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  color: #828282;
  color: #333333;
}

@media (max-width: 576px) {
  .questions__btn {
    padding: .2rem 1.5rem;
  }
}

.content h1 {
  margin: 14rem;
  color: #333333;
  line-height: 140%;
}

.content h1 span {
  display: block;
  color: #EECF90;
}

.content__info-box {
  background: #EECF90;
}

.content__info {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding: 3rem 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 186px;
}

.content__content-box {
  position: relative;
  margin-top: calc(-100vh + 14rem);
}

/* round of applause to Chris Coyer: https://css-tricks.com/responsive-data-tables/
and Adrian Roselli: http://adrianroselli.com/2017/11/a-responsive-accessible-table.html#Responsive
*/
.table {
  padding: 5rem 5vw;
}

table {
  border-collapse: separate;
  background-color: #DDBD85;
  border-spacing: 0 3rem;
  border-radius: 5px;
  height: auto;
}

th {
  text-align: left;
  font-weight: normal;
}

.dark {
  font-weight: bold;
}

/* Force table to not be like tables anymore */
table,
thead,
tbody,
th,
tr,
td {
  display: block;
}

/* Hide table headers (but not display: none;, for accessibility -- sighted users will see labels below) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-family: "Bungee", cursive;
}

/* tr {border: 1px solid black;} */
td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0.5rem;
  border: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* long desciption should stay on the right side */
#table-first tbody tr td:first-of-type,
#table-second tbody tr td:first-of-type {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

td:before {
  /* weird but it works  */
  white-space: nowrap;
  font-weight: bold;
  /* resize for bigger screen if you want */
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 2rem;
}

/* first table only for small screen */
#table-first td:nth-of-type(1)::before {
  content: "";
}

#table-first td:nth-of-type(2)::before {
  content: "900 ml";
}

#table-first td:nth-of-type(3)::before {
  content: "720 ml";
}

#table-first td:nth-of-type(4)::before {
  content: "320 ml";
}

/* second table  only for small screen*/
#table-second td:nth-of-type(1)::before {
  content: "";
}

#table-second td:nth-of-type(2)::before {
  content: "Ilość słoików";
}

#table-second td:nth-of-type(3)::before {
  content: "Ekonomiczna";
}

#table-second td:nth-of-type(4)::before {
  content: "Priorytet";
}

/* third table is not necessary because of different html structure */
/* let the table scroll as a backup */
.tablescroll {
  overflow-x: auto;
}

caption {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 3.2rem;
  font-family: "Bungee", cursive;
  color: #ffffff;
  margin-bottom: 5rem;
}

caption#honey,
caption#dispatch {
  font-size: 4.2rem;
}

th {
  padding: 1rem;
  font-family: "Bungee", cursive;
}

td {
  font-family: "Poppins", sans-serif;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #f6ecd9;
}

.hexagon-bg-3::before {
  content: "";
  position: absolute;
  /* left: -78.97%; */
  left: -50.97%;
  top: -113%;
  z-index: -1;
}

/* For wider dimensions, change our layout so the table can take the full width of the screen. */
/* table MQ's */
@media (min-width: 768px) {
  td {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  caption {
    display: none;
  }
  table {
    padding: 0 5rem 5rem 5rem;
  }
}

@media (min-width: 950px) {
  /* section.offer {
    height: 150vh;
  } */
  table {
    max-width: 1000px;
    margin: 0 auto;
  }
  /* td:before is not specific enough to override the original declarations, thus this method */
  #table-first td:nth-of-type(odd):before,
  #table-first td:nth-of-type(even):before,
  #table-second td:nth-of-type(odd):before,
  #table-second td:nth-of-type(even):before {
    content: "";
    margin-right: 0;
  }
  thead tr {
    position: static;
  }
  thead,
  tbody {
    display: table-row-group;
  }
  th,
  td {
    display: table-cell;
    padding: 1rem;
    font-size: 2.8rem;
  }
  td {
    font-size: 2rem;
    color: #333333;
  }
  tr {
    display: table-row;
  }
  table {
    display: table;
    width: 100%;
    border: none;
  }
  caption {
    font-size: 3.2rem;
    text-align: center;
    text-transform: lowercase;
    line-height: 3rem;
  }
  .dark,
  thead tr.dark {
    background-color: #DDBD85;
    color: #ffffff;
    font-weight: bold;
    font-family: "Bungee", cursive;
    text-transform: uppercase;
  }
  .table__chosen {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }
}

.table-second--info {
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  margin-top: 4.66667rem;
  text-transform: uppercase;
}

.table-fourth__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-fourth__star .star__table {
  width: 3rem;
  height: 4rem;
}

.table-fourth__star .star__table--color {
  fill: #BDBDBD;
}

.table-fourth__star:not(:last-of-type) {
  margin-right: 3rem;
}

.table-fourth__star .gray {
  fill: #828282;
}

.table-fourth__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-fourth__arrows a:first-of-type {
  margin-right: 20rem;
}

.table-fourth__left:hover svg,
.table-fourth__right:hover svg {
  fill: #EECF90;
}

.contact-margin {
  margin: 14rem auto 0 auto;
  position: relative;
  margin-top: calc(-100vh + 14rem);
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4F4F4F;
  width: 52rem;
  max-width: 52rem;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
  -webkit-filter: drop-shadow(-4px 2px 5px rgba(79, 79, 79, 0.8));
          filter: drop-shadow(-4px 2px 5px rgba(79, 79, 79, 0.8));
}

.contact fieldset {
  padding: 1rem;
  margin: 0;
  border: 0;
  min-width: 0;
}

.contact legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  line-height: inherit;
  color: #ffffff;
  border: 0;
}

.contact__input-group {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__input-group:last-child {
  margin-bottom: 0;
}

.contact__input-group .privacy,
.contact__input-group .privacy--register {
  color: #ffffff;
  padding: .3rem .2rem;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.contact__input-group .privacy a,
.contact__input-group .privacy--register a {
  color: #cccccc;
}

.contact__input-group label {
  margin: 1.2rem 0 0.8rem 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 1.5rem;
}

.contact__input-group input,
.contact__input-group textarea {
  outline: none;
  background: #f2f2f2;
  font-size: 1.8rem;
  color: inherit;
  border-radius: 5px;
  border: 1px solid #EECF90;
  padding: 1rem;
}

.contact__input-group input.btn-form {
  background: #d5b275;
  color: #333333;
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 2rem 0;
}

.contact__input-group input.btn-form:hover, .contact__input-group input.btn-form:focus {
  background: #e7bc64;
}

.contact__input-group input:focus,
.contact__input-group textarea:focus {
  background-color: #F1E2C4;
}

.contact__input-group input[type='submit'] {
  margin: 2rem 0 0 0;
}

.contact__title h1 {
  margin: 14rem 10vw;
  color: #333333;
  line-height: 140%;
}

.contact__title h1 span {
  display: block;
  color: #EECF90;
}

.contact__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 52rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: .5rem 2.5rem;
  font-size: 1.2rem;
  padding: .3rem 1.2rem;
  color: #BDBDBD;
}

@media (max-width: 576px) {
  .contact__btns {
    padding: .2rem 1.5rem;
  }
}

.contact__btns a {
  text-decoration: none;
  color: #828282;
  cursor: pointer;
}

.contact__btns a:hover {
  color: black;
}

.contact__links {
  padding: 7rem 10vw;
  color: #333333;
  font-size: 1.8rem;
  background-color: #F1E2C4;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__link svg {
  width: 3rem;
  height: 4rem;
  margin-right: 5rem;
}

.contact__link a {
  padding: .5rem;
  text-decoration: none;
  color: #333333;
}

.contact__link a:hover {
  color: black;
}

.contact__link:not(:last-child) {
  margin-bottom: 3rem;
}

.contact--login fieldset {
  padding: 1rem;
  margin: 0;
  border: 0;
  min-width: 0;
}

.footer {
  height: auto;
  background: #4F4F4F;
  padding: 5rem 5vw 1rem 5vw;
  color: #f2f2f2;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__column > * {
  color: inherit;
}

.footer__column h5 {
  font-family: "Bungee", cursive;
}

.footer__column a {
  font-size: var(--p);
  text-decoration: none;
  padding: 1rem 0;
}

.footer__column a:hover {
  color: #b0b0b0;
  cursor: pointer;
}

.footer__copyright {
  margin: 2rem 0;
  color: #BDBDBD;
  font-size: var(--p);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper--gallery {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/gallery_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100vh;
}

.content__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  list-style: none;
  margin: 0 4vw;
}

.content__photos li {
  -ms-flex-preferred-size: 28vw;
      flex-basis: 28vw;
  margin-bottom: 14rem;
}

@media (max-width: 800px) {
  .content__photos li {
    -ms-flex-preferred-size: 44vw;
        flex-basis: 44vw;
  }
}

@media (max-width: 600px) {
  .content__photos li {
    -ms-flex-preferred-size: 92vw;
        flex-basis: 92vw;
  }
}

.content__photos img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}

.content__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.4rem;
  margin-bottom: 14rem;
  font-weight: bold;
  background: #EECF90;
  padding: 3rem 5vw;
  color: #333333;
  border-radius: 5px;
}

.content__contact a {
  color: inherit;
}

.content__contact.white {
  background: #ffffff;
}

.wrapper--shopping {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/shopping_bg.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-bottom: 100vh;
}

.content__cards {
  margin-bottom: 14rem;
  position: relative;
}

.card-container {
  max-width: 120rem;
  margin: 7rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 7rem;
  grid-row-gap: calc(14rem + 4rem);
}

@media (max-width: 900px) {
  .card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .card-container {
    margin: 10rem auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 3px;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__header {
  height: 20rem;
  position: relative;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}

.card__picture-frame {
  width: 21.9rem;
  height: 25.3rem;
  top: -60px;
  right: -2px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: absolute;
  z-index: 1;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  mix-blend-mode: normal;
  background-color: #f2f2f2;
  -webkit-transform: rotate(-74deg);
          transform: rotate(-74deg);
}

.card__picture-img {
  position: relative;
  left: -66px;
  -webkit-transform: rotate(88deg);
          transform: rotate(88deg);
  opacity: 0.8;
}

.card__picture-overlay {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-clip-path: polygon(53% 9px, 97% 29%, 94% 74%, 48% 95%, 6px 71%, 12px 25%);
          clip-path: polygon(53% 9px, 97% 29%, 94% 74%, 48% 95%, 6px 71%, 12px 25%);
  background: #ffffff;
}

.card .heading-tertirary {
  position: absolute;
  top: 2rem;
  left: -1rem;
  width: 70%;
  z-index: 10;
  font-size: 2.8rem;
  color: #ffffff;
  font-family: "Bungee", cursive;
  text-align: left;
  letter-spacing: 2px;
}

.card .heading-tertirary span {
  z-index: -1;
  background: -webkit-gradient(linear, left top, right bottom, from(#ED806B), to(#E05E58));
  background: linear-gradient(to right bottom, #ED806B, #E05E58);
  padding: 1.2rem 2rem;
  line-height: 1;
}

.card .heading-tertirary span + span {
  z-index: 1;
}

.card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 3rem 2.5rem 3rem;
}

.card__description {
  grid-column: 1/-1;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 120%;
}

.card__data-box {
  margin: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.7rem;
  grid-column-gap: 2rem;
  background: #F1E2C4;
  padding: 2.5rem 3rem;
  min-height: 15.4rem;
}

.card__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__data .card__icon {
  margin-right: 1rem;
  width: 3rem;
  height: 4rem;
}

.card__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3rem;
  margin-bottom: 1.5rem;
}

.card__star img {
  width: 20px;
}

.card__star:not(:last-child) {
  margin-right: 1rem;
}

.card__footer {
  background-color: #ED806B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.8rem 3rem;
}

.card__footer .btn {
  text-decoration: none;
  font-size: 1.2rem;
  padding: .3rem 1.2rem;
  color: #BDBDBD;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  border-width: 1px;
  border-radius: 5%;
  text-transform: uppercase;
}

.wrapper--description {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/description_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content--description {
  position: relative;
  padding: 0 10vw 10rem 10vw;
  background-color: #ffffff;
}

.content__description {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'h1 h1 img ' 'star star img ' 'h4 h4 img ' 'h4 h4 img ';
}

.content__description h1 {
  margin: 5rem 0;
  color: #333333;
  line-height: 140%;
}

.content__description h1 span {
  display: inline-block;
  color: #EECF90;
}

.content__title {
  margin-left: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h1;
}

.content__title-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: star;
}

.content__star .star__title {
  width: 5rem;
  height: 4rem;
}

.content__star .star__title--color {
  fill: #F6C768;
}

.content__star:not(:last-of-type) {
  margin-right: 3rem;
}

.content__star .gray {
  fill: #828282;
}

.content__short-info {
  font-size: 2rem;
  width: 40vw;
  font-weight: normal;
  margin: 5rem 0;
  color: #333333;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h4;
}

.content__picture {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: img;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
}

.content__picture-frame {
  width: 41rem;
  height: 49rem;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: absolute;
  z-index: 1;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  mix-blend-mode: normal;
  background-color: #f2f2f2;
  -webkit-transform: rotate(-74deg);
          transform: rotate(-74deg);
}

.content__picture-overlay {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-clip-path: polygon(53% 9px, 97% 29%, 94% 74%, 48% 95%, 6px 71%, 12px 25%);
          clip-path: polygon(53% 9px, 97% 29%, 94% 74%, 48% 95%, 6px 71%, 12px 25%);
  background: #ffffff;
}

.content__picture-img {
  position: relative;
  width: 100%;
  height: 100%;
  left: 32px;
  top: 0;
  -webkit-transform: rotate(88deg);
          transform: rotate(88deg);
  opacity: 0.8;
}

.content__form {
  width: 80vw;
  font-size: 2.5rem;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1f 1fr;
      grid-template-columns: 1f 1fr;
  grid-row-gap: 2rem;
  margin-top: 5rem;
}

.content__form > * {
  padding: 1rem 5rem;
}

.content__form .cap,
.content__form .qty {
  background-color: #ED806B;
  color: #ffffff;
  justify-self: start;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
}

.content__form .cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__form .qty {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.content__form .btn {
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: bold;
}

.content__form .btn--submit {
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-filter: drop-shadow(-4px 2px 5px rgba(79, 79, 79, 0.8));
          filter: drop-shadow(-4px 2px 5px rgba(79, 79, 79, 0.8));
}

.content__form h5 {
  padding: 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2rem;
  font-weight: normal;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-transform: none;
}

.navigation--description .navigation__row--first {
  margin-bottom: 0;
}

.navigation--description .navigation__nav {
  padding: 0;
  overflow-y: visible;
}

.navigation--description .navigation__list, .navigation--description .navigation__description {
  height: 5rem;
}

.navigation--description .navigation__list::before, .navigation--description .navigation__description::before {
  height: 5rem;
}

.table-nav {
  background-color: #D7B57A;
}

.table-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100vw;
  margin: 0;
  min-height: 100%;
  padding-top: 0;
  height: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  font-weight: normal;
}

.table-nav__item {
  text-transform: uppercase;
  width: calc(80vw / 4);
}

.table-nav a {
  display: inline-block;
  height: 8rem;
  padding: 2.5rem 5rem;
}

.table-nav__link {
  color: #333333;
  background: none;
  text-decoration: none;
  height: 5rem;
  padding: 1rem 2rem;
  position: relative;
  z-index: 3;
}

.table-nav__link.active {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.25));
  -webkit-transition: hover .5s ease;
  transition: hover .5s ease;
  font-weight: bold;
}

.table-nav__link.active::before {
  content: url(../../src/icons/emptyHex.svg);
  position: absolute;
  z-index: -4;
  top: -30px;
  left: 23px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.wrapper--contact {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/contact_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100vh;
}

.content .honey {
  color: #EECF90;
}

.wrapper--login {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/contact_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(200vh - 5px);
}

.wrapper--map {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/map_bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.map {
  /* position:relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14rem;
}

.map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map-box .map-google {
  width: 70vw;
  max-width: 800px;
  height: 50vw;
  max-height: 600px;
  border: 2px solid #EECF90;
}

.wrapper-honey {
  position: relative;
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/honey_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: -5rem auto 14rem auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}

.slider .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: #EECF90;
  font-family: inherit;
  color: #333333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.slider .dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .dots__dot {
  border: none;
  background-color: #828282;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slider .dots__dot:last-child {
  margin: 0;
}

.slider .dots__dot--active {
  /* background-color: #fff; */
  background-color: #4f4f4f;
  opacity: 1;
}

.slider .tip {
  width: 65%;
  position: relative;
  background-color: white;
  padding: 5rem;
}

.slider .tip:before {
  content: '\201C';
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: #EECF90;
  z-index: -1;
}

.slider .tip__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.slider .tip__author {
  margin-left: 3rem;
  font-style: normal;
}

.slider .tip__author a {
  text-decoration: none;
  color: #828282;
  font-family: inherit;
}

.slider .tip__author a:hover {
  color: #333333;
}

.wrapper--table {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/description_bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.navigation-info__item {
  padding: 1rem;
  line-height: 100%;
}

.table-nav--blank {
  margin-top: 7rem;
}

.wrapper--register {
  background-image: linear-gradient(58deg, white 62%, rgba(213, 178, 117, 0.9) 62%, rgba(213, 178, 117, 0.9) 100%, transparent 50%), url(../../src/images/contact_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper--register .content span.inline {
  display: inline-block;
}

.content article {
  font-size: 1.8rem;
  padding: 0 10vw;
  margin-bottom: 14rem;
}
/*# sourceMappingURL=main.css.map */