// $marginSky: 7rem;
// $sectionMargin: 14rem;
$top: calc(#{$sectionMargin} - #{$marginSky});

.about {
  position: relative;
  margin-top: $marginSky;

  &__header {
    @include header($top 10vw, $color-gray, $color-grape, block);
  }

  // small triangles as a background in corners
  &__triangle {
    position: absolute;
    width: 400px;
    height: 600px;
    // width: 1284px;
    // height: 1272px;
    top: calc(-#{$marginSky});
    left: 0;
    background-color: #EECF90;
    clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
    z-index: 1;
  }

  &__triangle2 {
    position: absolute;
    width: 400px;
    height: 500px;
    bottom: 0;
    right: 0;
    background-color: #EECF90;
    -webkit-clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
    clip-path: polygon(100% 0px, 175px 120%, 100.55% 100%);
    z-index: 1;
  }

  // &__container {
  //   position: relative//for triangle3
  // }
  &__text {
    position: absolute;
    z-index: 3;
    // color: $color-gray;

    //variable is on the top of this file

    // $top: calc(#{$sectionMargin} - #{$marginSky});
    // left: 10vw;
    // font-size: 5rem;
    // .grape{
    //   color:$color-grape;
    // }

    //   span {
    //     @include span;
    //   }
  }

  &__image {
    position: relative;

    min-height: 70vh;
    overflow: hidden;
    opacity: 1;

    @media only screen and (min-width: 800px) {


      min-height: 80vh;
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   display: inline-block;
    //   background: linear-gradient(117.81deg, #D5B275 0.98%, rgba(173, 136, 82, 0) 33.53%);
    // }

    img {
      position: absolute;
      z-index: -1;
      top: 60%;
      left: 40%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;


      // width: 100%;
      // max-width: 800px;
      // object-fit: cover;

      @media only screen and (min-width: 800px) {
        // width: 100%;
        // max-width: 1440px;
        transform: translate(-13%, -36%);
        top: 156px;
        left: 200px;
        object-fit: contain;
        // max-width: 1440px;
      }
    }
  }

  &__main {
    // position: relative;
    // padding: 11rem 0;
    // height: 150vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: $sectionMargin repeat(2, minmax(auto, 1fr)) 0$sectionMargin;
    // grid-template-rows: repeat(3,$sectionMargin);
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    color: $color-gray;


    // CREATES A BACKGROUND SLICE

    // background: linear-gradient(62deg, rgba(238, 207, 144, 1) 30%,rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%, transparent 50%);
  }

  &__paragraph {
    font-size: 2.6rem;
    font-weight: lighter;
    position: relative;
    z-index: 3;


    //CREATES A HEXAGON ELEMENT WITH SHADOW AND ROTATE IT ON HOVER

    span {
      position: absolute;
      z-index: -1;
      @include shadow2;

      &::before {
        content: '';
        position: absolute;
        width: 75px;
        height: 86px;
        top: -10px;
        left: -25px;
        @include hexagon;
        background: rgba($color-honey, 1);

        @include rotate;
      }
    }

    span {
      &::before {
        content: '';
        background: $color-honey;
      }
    }

    // span.one {       
    //   &::before {
    //     content: '';          
    //     background: $color-grape;

    //   }
    // }
    // span.two {       
    //   &::before {
    //     content: '';          
    //     background: $color-grape2;

    //   }
    // }
    // span.three {       
    //   &::before {
    //     content: '';          
    //     background: $color-grape3;

    //   }
    // }
    // span.four {       
    //   &::before {
    //     content: '';          
    //     background: $color-grape4;

    //   }
    // }

  }


  .paragraph--1,
  .paragraph--2 {
    grid-row: 2/3;
  }

  .paragraph--3,
  .paragraph--4 {
    grid-row: 3/4;
  }


  .paragraph--1,
  .paragraph--3 {
    grid-column: 3/7;
  }

  .paragraph--2,
  .paragraph--4 {
    grid-column: 8/11;
  }

  &__info::first-letter {
    font-size: 5rem;
  }


}