.about {
  position: relative;

  &__header {
    @include header($sectionMargin 10vw, $color-gray, $color-honey-2, block);
  }

  // small triangles as a background in corners
  // &__triangle {
  //   position: absolute;
  //   width: 400px;
  //   height: 600px;
  //   left: 0;
  //   background-color: #eecf90;
  //   clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
  //   z-index: 1;
  // }

  &__triangle2 {
    position: absolute;
    width: 400px;
    height: 500px;
    bottom: 0;
    right: 0;
    background-color: #eecf90;
    -webkit-clip-path: polygon(0% 0px, 0px 62%, 38.55% 0%);
    clip-path: polygon(100% 0px, 175px 120%, 100.55% 100%);
    z-index: 1;

    @media only screen and (max-width: $large) {
      display: none;
    }
  }

  &__text {
    position: absolute;
    z-index: 3;
  }

  &__image {
    position: relative;
    // height: auto;
    width: 100%;
    min-height: 440px;
    opacity: 1;

    // @media only screen and (min-width: 800px) {
    //   min-height: 80vh;
    // }

    img {
      position: absolute;
      z-index: -1;
      object-fit: cover;
      max-width: 1440px;
      width: 100%;
      // height: auto;
      min-height: 600px;
    }
  }

  &__main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: 1rem repeat(2, minmax(auto, 1fr)) 0$sectionMargin;
    grid-column-gap: 2rem;
    grid-row-gap: 8rem;
    color: $color-gray;
    padding: 0 10vw $sectionMargin 10vw;

    @media only screen and (max-width: $large) {
      // margin: 0 10vw $sectionMargin 10vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__paragraph {
    position: relative;
    z-index: 3;
    max-width: 400px;
    margin: 0 auto;

    &:not(:last-of-type) {
      margin-bottom: $sectionMargin/2;
    }

    //CREATES A HEXAGON ELEMENT WITH SHADOW AND ROTATE IT ON HOVER

    span {
      position: absolute;
      z-index: -1;
      @include shadow2;

      &::before {
        content: '';
        position: absolute;
        width: 65px;
        height: 76px;
        top: -19px;
        left: -20px;
        @include hexagon;
        background: rgba($color-honey, 1);
        @include rotate;
      }
    }

    span {
      &::before {
        content: '';
        background: $color-honey;
      }
    }
  }

  .paragraph--1,
  .paragraph--2 {
    grid-row: 2/3;
  }

  .paragraph--3,
  .paragraph--4 {
    grid-row: 3/4;
  }

  .paragraph--1,
  .paragraph--3 {
    grid-column: 3/7;
    margin-top: -8rem;
  }

  .paragraph--2,
  .paragraph--4 {
    grid-column: 8/11;
  }

  &__info::first-letter {
    font-size: 5rem;
    color: $color-white-2;
    line-height: 100%;
    font-weight: bold;
  }
}
