// CONTENT IS A COMMON PART OF PAGES: GALLERY, DESCRIPTION, SHOPPING


.content {
  @include header(7rem 0 10rem 10vw);

  &__info-box {
    // width: 100vw;
    background: $color-honey;
  }

  &__info {
    // width: 100vw;
    color: $color-gray;
    font-family: $font-secondary;
    font-size: 2.5rem;
    padding: 3rem 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 186px;
  }

  &__content-box {
    // margin-top: $sectionMargin;
    position: relative; //for a triangle bg
    margin-top: calc(-100vh + #{$sectionMargin});
  }


}