// CONTENT IS A COMMON PART OF PAGES: GALLERY, DESCRIPTION, SHOPPING
.content {

  @include header(calc(#{$sectionMargin} - 5px) 10vw, $color-gray, $color-honey, block);

  &__info-box {
    // width: 100vw;
    background: $color-honey;
  }

  &__info {

    color: $color-gray;
    font-family: $font-secondary;
 
    padding: 2rem 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 186px;
  }

  &__content-box {
    // margin-top: $sectionMargin;
    position: relative; //for a triangle bg
    margin-top: calc(-100vh + #{$sectionMargin});
  }

}