.wrapper--gallery {
  position: relative;
  background-image: linear-gradient(
    62deg,
    rgba(255, 255, 255, 1) 61%,
    rgba($color-honey-2, .9) 61%,
    rgba($color-honey-2, .9) 100%,     
    transparent 50%
  ),
  //Obraz Mabel Amber z Pixabay 
  url(../../src/images/gallery_bg.png);
  
 
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}




.gallery {  
  @include header(7rem 0 10rem 10vw);
  margin: 0 4vw;

  &__info-box{
    width: 100vw;
    background: $color-honey;    
  }
  &__info{
    color: $color-gray;
    font-family: $font-secondary;
    font-size: 2.5rem;
    padding: 3rem 10vw;

  }
  &__gallery-box{
    margin-top:$sectionMargin;  
   
    
  }
  &__photos{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    list-style: none;
li {

  flex-basis: 28vw;
  margin-bottom: $sectionMargin;
}

 img {
   width:100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  @include shadow2;
}

   
  }
  &__contact{

    display:flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: $sectionMargin;
    font-weight: bold;
    background-color: $color-honey-2;
    padding: 3rem;
    color:$color-gray;
    border-radius: 5px;

    a{
      color:inherit;

    }
    > * {
      flex-basis: 28vw;
    }
   
  }
}


    

//change navigation background colors
.navigation__buttons {
 
  
  .btn--gallery-login {
    @include btn--login;
      background-color: $color-honey;
      color: $color-white;
    }
    
    .btn--gallery-register {     
      @include btn--register;    
      color: $color-white;
    }
}