.wrapper--hero {
  position: relative;
  // <a href="https://www.freepik.com">designed by Racool_Studio - Freepik.com</a>
  @include layoutHero(url(../../src/images/hero_bg.jpg), cover, bottom);

//TODO fix problem with ipad pro resolution
  @media (max-width: $large)  {
    @include backImage(72deg, 72%, 72%, url(../../src/images/hero_bg.jpg));
  }

  @media (max-width: $large) {
    flex-direction: column;
  }
}

.hero {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 10% 40% 50%;
  grid-row-gap: 11rem;
  justify-items: start;

  &__title {
    line-height: 130%;
    color: $color-gray;
  }

  &__title-container {
    grid-column: 2/3;

    span {
      color: $color-white;
    }

  }

  &__intro {
    grid-column: 2/3;
    font-family: $font-secondary;
    color: $color-gray;
    font-weight: 400;

  }

  &__btn {
    grid-column: 2/3;
    @include btn;
    @include btn--yellow;
    @include shadow2;
    margin-bottom: $sectionMargin;
  }
}