.info {
  display: flex;
  padding: $sectionMargin;
  // min-height: 600px;
  height: auto;
  text-transform: none;
  //Photo by Annie Spratt on Unsplash
  // background: linear-gradient(0deg, rgba(235, 99, 73, 0.902)),
  //   url(../../src/images/id_bg.jpeg);
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));


  @media (min-width: 768px) {
    flex-direction: column;
  }

  &__hello {
    @include header(0, $color-honey, $color-white, block);
  }

  &__address {
    margin-top: $sectionMargin;
    color: $color-honey-3;

    h3 {
      font-family: $font-secondary;
      // font-size: 2.5rem;
    }

    &--name {
      font-size: 3.2rem;
    }
  }
}