.info {
  display: flex;
  padding: $sectionMargin 10vw;
  // min-height: 600px;
  height: auto;
  text-transform: none;
  //Photo by Annie Spratt on Unsplash
  // background: linear-gradient(0deg, rgba(235, 99, 73, 0.902)),
  //   url(../../src/images/id_bg.jpeg);
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));


  @media (max-width: 996px) {
    flex-direction: column;
  }

  &__hello {
    @include header(0 4rem 0 0, $color-honey, $color-white, block);

    @media (max-width: 996px) {
     h1 { margin: 0;}
    }
  }

  &__address {
    margin-top: $sectionMargin;
    color: $color-honey-3;

    p {
      font-family: $font-secondary;
      // font-size: 2.5rem;
    }

    // &--name {
    //   font-size: var;
    // }
  }
}