//change navigation background colors
.navigation__buttons {


  .btn--gallery-login {
    @include btn--login;
    background-color: $color-honey-2;
    color: $color-white;
  }

  .btn--gallery-register {
    @include btn--register;
    color: $color-white;
  }
}