.questions {
  padding: 0 10vw;
 min-height: 600px;  
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902)),
    url(../../src/images/questions_bg.jpg);

  &__header{
    padding:11rem 0;
    font-size: 5rem;
    color: $color-orange;
    line-height: 110%;
  }
  span {
    @include span;
    color: $color-white;
    display: inline-block;
  }
  
  &__container{
display:flex;
// width: 100vw; 
flex-flow: row wrap;
justify-content: space-between;
  // align-content: stretch;
  }

  &__box {
    flex-basis: 300px;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    
  
    p {
  // flex-basis: 20%;
  color:$color-white;
  font-size: 2.4rem;
  // width: 100%;
  // align-items: center;
  // display: table-cell;
  //   vertical-align: middle;
  // margin: 0 auto;
  // display: inline-block;
  // vertical-align: middle;
  // line-height: normal;
  // margin:auto;
  
    }
  }
  &__btn{
    margin-top:4rem;
    @include btn--white;
    // @include btn--small;
    font-size: 1.6rem;      
    padding: 1rem 2.5rem;
    color: $color-gray;
  }
}

