// hexagon size: width="320" height="374"

.the-best {

  background-image: linear-gradient(109deg,
      rgba($color-white, .9) 69%,
      rgba(238, 207, 144, .9) 69%,
      rgba(238, 207, 144, .9) 100%,
      transparent 50%);
  background-size: 100%;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  @include header(0, $color-gray, $color-honey, block);

  //padding replace a margin because of the background
  h1 {
    padding: $sectionMargin 10vw;
  }

  &__img {
    background: $color-white;

    width: 58rem;
    margin-top: -30rem;
    margin-left: 30rem;

    height: auto;
    opacity: 0.6;


    @media (max-width: $large) {
      margin-top: -20rem;
      margin-left: 18rem;

    }

    @media (max-width: $big) {
      width: 100vw;
      margin-top: -20rem;
      margin-left: 0;

    }
  }

  &__beater {
    display: none;
  
    transform: rotate(77.95deg);
    overflow-x: hidden;

    img {
      position: absolute;
      bottom: -60px;
      left: 0;
      opacity: .8;
      // width: 400px;


      @media (max-width: $small) {
        width: 280px;
        left: 130px;
        bottom: 50px;


      }

    }

  }

  &__box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 10vw;
    grid-row-gap: 20rem;
    color: $color-gray;

    position: relative;

  }

  &__title {
    position: relative;
    z-index: 1;
    grid-column: 2/6;

  }

  &__info {
    grid-column: 3/9;
    max-width: 800px;
    font-family: $font-secondary;
    font-size: var(--h5);
    font-weight: 400;
    // letter-spacing: 6%;
    padding: 3rem;
    z-index: 3;
    position: relative;
    // transform: rotate(-2deg);
    
    @media (max-width: $large) {
      
      grid-column: 2/10;
      padding-left: 5rem;
      padding: 2rem;
    }

  }

  .info--1,
  .info--3 {

    padding-left: 15rem;

    @media (max-width: $large) {
      padding-left: 5rem;
    }

    //  BEFORE IS A HEXAGON
    &::before {
      content: url(../src/images/hexWhite3.svg);
      position: absolute;
      left: -140px;
      top: -58px;
      z-index: 1;

      @media (max-width: $large) {
        content: url(../src/images/hexWhite4.svg);
        left: -80px;
      }


    }

    // AFTER IS A BACKGROUND RECTANGLE
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $color-honey-4;
      border-radius: 5px;

    }
  }

  .info--2 {
    padding-right: 15rem;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media (max-width: $large) {
      padding-right: 5rem;
    }

    &::before {
      content: url(../src/images/hexWhite3.svg);
      position: absolute;
      right: -148px;
      top: -59px;
      z-index: 1;

      @media (max-width: $large) {
        content: url(../src/images/hexWhite4.svg);
        right: -80px;
      }

    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $color-white-2;
      border-radius: 5px;

    }
  }

  .info--3 {
    margin-bottom: calc(#{$sectionMargin} + 4rem);
    position: relative;
  }
}