.think_over {
  // min-height: 600px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));
  padding: $sectionMargin 10vw;

  @media (max-width: $large) {
    flex-direction: column;
    align-items: center;

    & *:not(.think_over__dots) {
      margin-bottom: 5rem;
    }

    .think_over__right {
      margin-bottom: 0;
    }

  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 5rem;
    @include header(0, $color-honey, $color-white, block);

    @media (max-width: $large) {
  
      align-items: center;
    }
  }

  &__text {
    justify-content: flex-end;
  }

  &__btn {

    @include btn;
    @include btn--yellow;
    @include shadow2;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__box {
    background: $color-white;
    height: 25rem;
    max-width: 600px;
    border-radius: 20px;
    @include shadow2;
    margin-bottom: 3rem;

    @media (max-width: $large) {
      // width: 60vw;
    }

    @media (max-width: $small) {
      // width: 70vw;
    }
  }

  &__recommend {
    height: 100%;
    display: none;
    font-family: $font-secondary;
    padding: 3rem;

    h4 {
      font-weight: 300;
      color: $color-gray;
      font-size: 2rem;
    }

    p {
      align-self: flex-end;
      color: $color-red;
      font-size: 1.6rem;
    }
  }

  .recommend--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__dots {
    display: flex;
    justify-content: center;

    @media (max-width: $large) {

      height: 3rem;
    }

  }

  &__dot {
    cursor: pointer;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color-white;
  }

  &__dot:not(:last-of-type) {
    margin-right: 3rem;
  }

  .dot--active {
    background-color: $color-yellow;
  }
}