.think_over {
  background: linear-gradient(0deg, rgba(235, 99, 73, 0.902));
  padding: $sectionMargin 10vw;
  @include header(0, $color-honey, $color-white, block);

  &__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: $sectionMargin/2;

    @media(max-width: $large) {
      flex-direction: column;
      align-items: center;
    }
  }


  &__left {
    align-self: center;
     @media(max-width: $large) {
      order:2;
      margin-top: $sectionMargin/2;
    }
  }

 

  &__btn {

    @include btn;
    @include btn--yellow;
    @include shadow2;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__box {
    background: $color-white;
    height: 25rem;
    width: 600px;
    border-radius: 20px;
    @include shadow2;
    margin-bottom: 3rem;

    @media (max-width: $big) {
      width: 70vw;
    }
  }

  &__recommend {
    height: 100%;
    display: none;
    font-family: $font-secondary;
    padding: 3rem;

    h4 {
      font-weight: 300;
      color: $color-gray;
      font-size: 2rem;
    }

    p {
      align-self: flex-end;
      color: $color-red;
      font-size: 1.6rem;
    }
  }

  .recommend--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__dots {
    display: flex;
    justify-content: center;

    @media (max-width: $large) {

      height: 3rem;
    }

  }

  &__dot {
    cursor: pointer;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color-white;
  }

  &__dot:not(:last-of-type) {
    margin-right: 3rem;
  }

  .dot--active {
    background-color: $color-yellow;
  }
}