// only for table-nav
.table {
  &--1,
  &--2,
  &--3,
  &--4 {
    display: none;
  }

  &--active {
    display: block;
    // margin-bottom: $sectionMargin;
  }

  &-nav {
    // background: red;

    // border-bottom: 2px solid black;
    button {
      text-transform: lowercase;
      &::first-letter {
        text-transform: uppercase;
      }
    }

    &__list {
      // background-image: linear-gradient(
      //     58deg,
      //     rgba(213, 178, 117, 0.9) 62%,
      //     rgba(213, 178, 117, 0.9) 62%,
      //     white 62%,
      //     white 100%,
      //     transparent 50%
      //   ),
      //   url(../../src/images/description-small.jpg);
      // background: linear-gradient(
      //   58deg,
      //   $color-honey-3 62%,
      //   $color-honey-3 62%,
      //   white 62%,
      //   white 100%,
      //   transparent 50%
      // );
      background: $color-honey-8;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // transform: translateY(25px);
      // @include shadow2;
      // border-bottom: 4px solid $color-white-2;
      // border-top: 4px solid $color-white-2;
      // background: $color-white;
      // @include list;
      padding-left: 10vw;
      // border: 1px solid $color-gray-3;
      // background: $color-honey-3;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      list-style: none;
      max-width: 1440px;
      min-height: 100%;
      font-size: var(--h5);
      font-weight: normal;
      // margin: 5rem 0;
    }

    &__item {
      margin-right: 6rem;
      // @extend .navigation__item;
    }

    button {
      text-transform: lowercase;
      font-size: var(--h5);

      font-family: $font-secondary;
      border: none;
      outline: none;
      margin: 0;
      // font-size: 2rem;
      // letter-spacing: 1px;
      // padding: 0;
    }

    &__link {
      color: $color-gray;
      background: none;
      text-decoration: none;
      // height: 5rem;
      padding: 1rem 2rem;
      // for hexagon
      position: relative;
      z-index: 3;
      text-transform: none;

      &.active {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 2;
        // top: -15px;
        @include shadow2;
        transition: hover 0.5s ease;
        font-weight: 400;
        color: $color-gray;
        // letter-spacing: 3px;

        // background-color: $color-white;
        &::before {
          content: '';
          position: absolute;
          z-index: -4;
          width: 65px;
          height: 74.8px;
          /* top: -28px;
        left: -14px; */
          top: -18px;
          left: -13px;
          /* @include hexagon; */
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          // background: $color-white;
          background: $color-white;
          // background: $color-honey-3;

          transform: rotate(-134deg);
          /* @include rotate; */
          transition: all 0.5s ease;
        }
      }
      &:hover {
        color: $color-dark;
      }
    }
  }

  // IMPLEMENT ARROW BTNS FOR TABLE WITH OPINIONS
  &-fourth {
    position: relative;
  }

  &__btn {
    @extend .slider__btn;

    &--left {
      left: -5%;
      transform: translate(-50%, 0);
    }

    &--right {
      right: -5%;
      transform: translate(50%, 0);
    }
  }
}
