extends baseEmail

block content
  p Hi #{firstName},
  p Zapomniałeś hasła? Wyślij zapytanie o nowe hasło wraz z potwierdzeniem tego hasła na adres: #{url}.
  p (Strona w budowie)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Zresetuj swoje hasło
  p Jeśli nie zapomniałeś hasła, zignoruj tą wiadomość!
