footer.footer 
  .footer__container 
    .footer__column.column--1 
      h5 Pasieka Miodek 
      a(href='map.html') 01-123 Łąki Polne
    .footer__column.column--2 
      h5 Informacje 
      a(href='about_us.html') O nas
      a(href='honey.html') O miodzie
      a(href='help.html') Pomoc
    .footer__column.column--3 
      h5 Zakupy 
      a(href='payments.html') Formy płatności
      a(href='payments.html') Koszty wysyłki
      a(href='terms_of_use.html') Regulamin
      a(href='privacy_policy.html') Polityka Prywatności
    .footer__column.column--4
      h5 Kontakt 
      a(href='tel:+48123456789') telefon: +48 123 456 789
      a(href='mailto:hello@stranger.pl' target='_self') kontakt@pasiekamiodek.pl
  .footer__copyright copyright &copy;2021 by gregsypek