main.content
  h1.content__title Zapraszamy do 
    span zakupów 
  .content__info-box 
    h5.content__info Z przyjemnością przedstawiamy pełną ofertę naszego sklepu. Szczegółowy opis miodu oraz złoźenie zamówiena moliwe po kliknięciu przycisku 'więcej'.