mixin wrapper(name)
  div(class=`wrapper--${name}`)
    
    //- //NAV
    //- include _nav

    //- //HEADER
    //- include _mixin-header

    //- +header("Zapraszamy do","zakupów","Z przyjemnością przedstawiamy pełną ofertę naszego sklepu. Szczegółowy opis miodu oraz złoźenie zamówiena moliwe po kliknięciu przycisku 'więcej'.")