doctype html
html 
  head 
    block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //- meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' https://localhost:5001 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'")
    title Miodek  | #{title}   
   
    link(rel='stylesheet' href='/css/type.css')
    link(rel='stylesheet' href='/sass/main.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@300;400;600&display=swap')
    //- link(rel='shortcut icon' type= 'image/png' href='img/favicon.png')
    //- script(defer src='./public/js/think_over.js')

      


  body 

    //CONTENT   
    block header
     
    block main

    //FOOTER
    //- include _footer
          
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
    block scripts
    script(src='https://js.stripe.com/v3/')
    script(src="/js/bundle.js")
   

