doctype html
html 
  head 
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/type.css')
    link(rel='stylesheet' href='sass/main.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@300;400;600&display=swap')
    //- link(rel='shortcut icon' type= 'image/png' href='img/favicon.png')
    title Miodek  | #{title}   
    //- script(src='https://code.iconify.design/1/1.0.6/iconify.min.js')
    //- script(defer src='./public/js/think_over.js')
 


  body 
    .wrapper--shopping
      //HEADER
      include _header

      //MAIN
      include _main

    //CONTENT   
    block content
     

    //FOOTER
    include _footer
        
 


