
extends base
block head
block header 

  .wrapper--login
    include _mixinNav
    +nav('login2', 'register2', 'white', '', 'navHidden')

    main.content 
      h1.content__title Zaloguj się do swojego 
        span.honey konta 
      .contact__box 
        form.contact__form.contact--login
          fieldset 
            .contact__input-group 
              label(for='email') Twój email:
              input(type="text" name="email" id="email" required)
            .contact__input-group 
              label(for='password') Hasło:
              input(type="password" name="email" id="password" required)
            .contact__input-group 
              input(type='submit' name='submit' class='btn-form' value='Zaloguj się')
        .contact__btns
          a(href="/login" class="btn contact__btn") Odzyskaj hasło     
          a(href="/register" class="btn contact__btn") Nie mam konta 
      //CONTACT-LINKS
      include _contact-links     
      

    include _footer
    
