.wrapper--login,
.wrapper--account {
  @include layout(url(../src/images/contact-bg.jpg), cover, center);

  height: calc(
    200vh - 5px
  ); // this help to keep slice background in the same place
}
//TODO move below code into separate file
/////////////@at-root
.wrapper--account {
  background-color: white;
  h1.content__title {
    margin-top: 10rem !important;
  }
}

.account {
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10vw;
    background-color: $color-honey;

    &--passwords {
      justify-content: space-evenly;
    }
  }
  // &__left {
  //   min-width: 30vw;
  // }
  &__link {
    display: flex;
    align-items: center;

    svg {
      margin-right: 5rem;
    }
    a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      font-size: 1.8rem;
      font-family: $font-secondary;
    }
    &:not(:last-of-type) {
      margin-bottom: 5rem;
    }
  }
  &__right {
    margin-left: auto;
  }
  &__btn {
    @include btn;
    margin-top: 5rem;
    background-color: $color-sarah;
    color: white;
    font-weight: 300;
    font-size: 16px;
  }
}

.form {
  &__group {
    // margin-bottom: 2.5rem;

    &:last-child {
      text-align: right;
      margin-top: auto;
      // margin-bottom: auto;
    }
  }
  label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    // margin-bottom: 0.75rem;
    font-family: $font-secondary;
    color: $color-dark;
    font-size: var(--h5);
    margin: 1.2rem 0 0.8rem 0;
    &:first-of-type {
      margin-top: 4rem;
    }
  }

  &__input {
    width: 40vw;
    outline: none;
    background: $color-white-2;
    font-size: var(--h5);
    color: $color-sarah;
    border-radius: 5px;
    border: none;
    padding: 1rem;
    &--password {
      width: auto;
      margin-right: 7rem;
    }
  }
  &__user-photo {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 50%;
    margin: 5rem 5rem 0 0;
    border: 4px solid $color-white;
  }
  &__photo-upload {
    display: flex;
    align-items: center;
  }
  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
      color: $color-sarah;
      display: inline-block;
      text-decoration: none;
      border-bottom: 4px solid $color-white;
      padding: 3px;
      transition: all 0.2s;
      cursor: pointer;
    }
  }

  //FORM WITH PASSWORDS
  &__password {
    display: flex;
    flex-wrap: wrap;
    // .form__group {
    //   max-width: 30rem;
    // }
  }
}
