
//pages like login.html, register.html or map.html don't have nav bar on the top page 

@media (min-width: 800px) {
  .hidden {
    visibility: hidden;
  }
}

// used in gallery.html
img.lazyload {
  opacity: 0;
  transition: opacity 0.5s ease;
}
img.lazyload.loaded {
  opacity: 1;
}






