.wrapper--description {

  @include layout(url(../src/images/description-bg.jpg), cover, center);

  @media (max-width: $large) {
    @include backImage(url(../src/images/description-bg-medium.jpg), 72deg, 72%, 72%);
  }

  @media (max-width: $small) {
    @include backImage(url(../src/images/description-bg-small.jpg), 72deg, 72%, 72%);
  }

  overflow-x: hidden;

}

.content {
  &--description {
    position: relative;
    padding: 4rem 10vw $sectionMargin 10vw;
    background-color: $color-white;

    // height: 100vh;
    @media (max-width: $big) {
      padding: 4rem 5vw $sectionMargin 5vw;
    }
  }

  &__description {
    //  max-width: calc(1440px - 20vw);
    @include header(5rem 0, $color-gray, $color-honey, inline-block);
    display: grid;
    grid-template-areas:
      'h1 h1 img '
      'star star img '
      'h4 h4 img '
      'h4 h4 img ';

    @media (max-width: $large) {
      grid-template-areas:
        'h1 h1 h1 '
        'img img img '
        'star star star '
        'h4 h4 h4 ';

      //all children center
      &>* {
        justify-self: center;
      }
    }
  }

  &__title {
    margin-left: 0;
    grid-area: h1;

    &-stars {
      display: flex;
      grid-area: star;
    }
  }

  &__star {
    .star__title {
      width: var(--h2);
      height: var(--h3);

      &--color {
        fill: $color-gray;
      }
    }

    &:not(:last-of-type) {
      margin-right: 3rem;
    }

    .gray {
      fill: $color-gray-3;
    }
  }

  &__short-info {
    font-size: var(--h4);
    max-width: 600px;

    margin: 5rem 0;
    color: $color-gray;
    grid-area: h4;

    @media (max-width: $huge) {
      max-width: 480px;
    }

    @media (max-width: $large) {
      text-align: center;
      font-size: var(--h5);
    }

    h4 {
      font-weight: 400;
    }
  }

  &__picture {
    position: relative;
    grid-area: img;
    @include shadow2;

    @media (max-width: $large) {
      position: static;
      height: 40rem;
    }

    &-frame {
      // position: absolute;
      width: 41rem;
      height: 49rem;
      top: 48px;
      right: 95px;
      @include hexagon;
      @include hexFrame;

      @media (max-width: $huge) {
        width: 32rem;
        height: 40rem;
      }

      @media (max-width: $large) {
        position: static;
        margin: 0 auto;
      }

      @media (max-width: $small) {
        width: 27rem;
        height: 31rem;
      }
    }

    &-overlay {
      @include overlay;
    }

    &-img {
      position: relative;
      width: 100%;
      height: 100%;
      left: 32px;
      top: 0;
      transform: rotate(88deg);
      opacity: 0.8;
    }
  }

  &__form {
    width: 90vw;
    max-width: 1200px;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-row-gap: 2rem;
    margin-top: 5rem;

    @media (max-width: $large) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    >* {
      padding: 1rem 5rem;
    }

    >*:not(:last-child) {
      margin-bottom: 2rem;
    }

    .cap,
    .qty {
      background-color: $color-red-3;
      color: $color-white;
      justify-self: start;
      grid-column: 1/2;
      @include shadow;
      border-radius: 5px;
      width: 35rem;
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;

      @media (max-width: $large) {
        width: 27rem;
      }
    }

    .cap {
      display: flex;
      justify-content: space-between;
    }

    .qty {
      grid-column: 1/2;
    }

    .btn {
      color: inherit;
      font-family: inherit;
      text-transform: uppercase;
      font-size: inherit;
      font-weight: bold;
    }

    .btn--submit {
      @include btn--white;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center;
      @include shadow;
      width: 350px;

      @media (max-width: $large) {
        width: 27rem;
      }
    }

    h5 {
      padding: 0;
      grid-column: 2/3;
      justify-self: center;
      font-size: var(--h5);
      font-weight: normal;
      align-self: end;
      text-transform: none;

      @media (max-width: $large) {
        order: -1;
        align-self: center;
      }

      @media (max-width: $small) {
        padding: 0 2rem;
        text-align: center;
      }
    }
  }
}

//this style works only for description.html
// @media (min-width: 800px) {
.navigation {
  &--description {
    .navigation__row--first {
      margin-bottom: 0;
    }

    .navigation__nav {
      padding: 0;
      // overflow-y:clip;
      overflow-y: visible;
    }

    .navigation__list {
      height: 5rem;

      // overflow-y: hidden;
      &::before {
        height: 5rem;
      }
    }
  }
}

// only for table-nav

.table-nav {
  background-color: $color-gray-3;

  &__list {
    // @include list;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1440px;
    min-height: 100%;
    font-size: var(--h5);
    font-weight: normal;
  }

  &__item {
    text-transform: uppercase;
  }

  a {
    display: inline-block;
    height: 5rem;
  }

  &__link {
    color: $color-white;
    background: none;
    text-decoration: none;
    height: 5rem;
    padding: 1rem 2rem;
    // for hexagon
    position: relative;
    z-index: 3;

    &.active {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      // top: -15px;
      @include shadow2;
      transition: hover 0.5s ease;
      font-weight: 400;
      color: $color-gray;
      // letter-spacing: 3px;

      background-color: $color-white;

    }
  }
}