.wrapper--description {
  background-image: linear-gradient(58deg,
      rgba(255, 255, 255, 1) 62%,
      rgba($color-honey-2, 0.9) 62%,
      rgba($color-honey-2, 0.9) 100%,
      transparent 50%),
    //Obraz Mabel Amber z Pixabay
    url(../../src/images/description_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // padding-bottom: 100vh; // for spreading the area of this background
  // height: 1657px;
}

.content {
  &--description {
    position: relative;
    padding: 0 10vw 10rem 10vw;
    background-color: $color-white;
    // height: 100vh;
  }

  &__description {
    @include header(5rem 0, $color-gray, $color-honey, inline-block);
    display: grid;
    grid-template-areas:
      'h1 h1 img '
      'star star img '
      'h4 h4 img '
      'h4 h4 img ';
  }

  &__title {
    margin-left: 0;
    grid-area: h1;

    &-stars {
      display: flex;
      grid-area: star;
    }
  }

  &__star {
    .star__title {
      width: 5rem;
      height: 4rem;

      &--color {
        fill: $color-yellow;
      }
    }

    &:not(:last-of-type) {
      margin-right: 3rem;
    }

    .gray {
      fill: $color-gray-3;
    }
  }

  &__short-info {
    font-size: 2rem;
    width: 40vw;
    font-weight: normal;
    margin: 5rem 0;
    color: $color-gray;
    grid-area: h4;
  }

  &__picture {
    position: relative;
    grid-area: img;
    @include shadow2;

    &-frame {
      // position: absolute;
      width: 41rem;
      height: 49rem;
      top: 0;
      right: 0;
      @include hexagon;
      @include hexFrame;
    }

    &-overlay {
      @include overlay;
    }

    &-img {
      position: relative;
      width: 100%;
      height: 100%;
      left: 32px;
      top: 0;
      transform: rotate(88deg);
      opacity: 0.8;
    }
  }

  &__form {
    width: 80vw;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-row-gap: 2rem;
    margin-top: 5rem;

    >* {
      padding: 1rem 5rem;
    }

    .cap,
    .qty {
      background-color: $color-red-3;
      color: $color-white;
      justify-self: start;
      grid-column: 1/2;
      @include shadow2;
      border-radius: 5px;
      width: 35rem;
    }

    .qty {
      grid-column: 1/2;
    }

    .btn {
      color: inherit;
      font-family: inherit;
      text-transform: uppercase;
      font-size: inherit;
      font-weight: bold;
    }

    .btn--submit {
      @include btn--white;
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: center;
      @include shadow;
    }

    h5 {
      padding: 0;
      grid-column: 2/3;
      justify-self: center;
      font-size: 1.2rem;
      font-weight: normal;
      align-self: end;
      text-transform: none;
    }
  }
}

//this style works only for description.html
// @media (min-width: 800px) {
.navigation {

  &--description {
    .navigation__row--first {
      margin-bottom: 0;
    }


    .navigation__nav {
      padding: 0;
      // overflow-y:clip;
      overflow-y: visible;
    }

    .navigation__list {
      height: 5rem;

      // overflow-y: hidden;
      &::before {
        height: 5rem;
      }
    }
  }
}

// }

// only for table-nav 

.table-nav {
  // width
  background-color: $color-honey;

  //ul
  &__list {
    // @include list;
    display: flex;
    list-style: none;
    width: 100vw;
    margin: 0;
    min-height: 100%;
    padding-top: 0;
    height: 7rem;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: normal;

  }

  //li
  &__item {
    text-transform: uppercase;
    width: calc(80vw / 4);


  }

  a {
    display: inline-block;
    height: 8rem;
    padding: 2.5rem 5rem;
  }

  //a
  &__link {

    color: $color-gray;
    background: none;
    text-decoration: none;
    height: 5rem;
    padding: 1rem 2rem;
    // for hexagon
    position: relative;
    z-index: 3;



    &.active {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      @include shadow2;
      transition: hover .5s ease;
      font-weight: bold;

      &::before {
        content: url(../../src/icons/emptyHex.svg);
        position: absolute;
        z-index: -4;
        // width: 65px;
        // height: 74.8px;
        top: -30px;
        left: 23px;
        // @include hexagon;
        // background: $color-white;
        // @include rotate;
        transition: all .5s ease;

      }

    }
  }
}

