.wrapper--content {


  position: relative;
  background-image: linear-gradient(58deg,
      rgba(255, 255, 255, 1) 62%,
      rgba($color-honey-2, 0.9) 62%,
      rgba($color-honey-2, 0.9) 100%,
      transparent 50%),
  //  Photo by Jack B on Unsplash
    url(../../src/images/gallery_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100vh; // for spreading the area of this background
}

.content {
  
  &__photos {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    list-style: none;
    margin: 0 4vw;

    li {
      flex-basis: 28vw;
      margin-bottom: $sectionMargin;

      @media (max-width: 800px) {
        flex-basis: 44vw;
      }

      @media (max-width: 600px) {
        flex-basis: 92vw;

      }
    }

    img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 5px;
      @include shadow2;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    margin-bottom: $sectionMargin;
    font-weight: bold;
    background: $color-honey;
    padding: 3rem 5vw;
    color: $color-gray;
    border-radius: 5px;

    a {
      color: inherit;

    }

    &.white {
      background: $color-white;
    }

    // >* {
    //   flex-basis: 28vw;
    // }

  }
}