.wrapper--content {
  position: relative;
  background-image: linear-gradient(
    62deg,
    rgba(255, 255, 255, 1) 52%,
    rgba($color-honey-2, .9) 52%,
    rgba($color-honey-2, .9) 100%,     
    transparent 50%
  ),
  //Obraz Mabel Amber z Pixabay 
  url(../../src/images/gallery_bg.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}



    

