.wrapper--gallery {
  @include layout(url(../src/images/gallery-bg.jpg), contain, center);
  padding-bottom: 100vh; // for spreading the area of this background

  @media (max-width: $large) {
    @include backImage(
      url(../src/images/gallery-bg-medium.jpg),
      72deg,
      72%,
      72%
    );
  }

  @media (max-width: $small) {
    @include backImage(
      url(../src/images/gallery-bg-small.jpg),
      72deg,
      72%,
      72%
    );
  }
}

.content {
  &__photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    list-style: none;
    margin: 0 4vw;

    li {
      flex-basis: 28vw;
      margin-bottom: 4rem;

      @media (max-width: 800px) {
        flex-basis: 44vw;
      }

      @media (max-width: 600px) {
        flex-basis: 92vw;
      }
    }

    img {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 5px;
      @include shadow2;
    }
  }
}
