.wrapper-login {
  position: relative;
  background-image: linear-gradient(58deg,
      rgba(255, 255, 255, 1) 62%,
      rgba($color-honey-2, 0.9) 62%,
      rgba($color-honey-2, 0.9) 100%,
      transparent 50%),
    //Obraz Mabel Amber z Pixabay
    url(../../src/images/contact_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: calc(100vh + 186px); //186 px is the height of the .content__info-box 
}




// .contact {
//   &--login {
//     //this is for keeping the slice background in the same place
//     position: absolute;
//     top: 70vh;
//     left: 0;
//     right: 0;

//     fieldset {
//       padding: 1rem;
//       margin: 0;
//       border: 0;
//       min-width: 0;
//     }
//   }

// }