.wrapper--map {
  //   //Obraz Mabel Amber z Pixabay
  @include layout(url(../../src/images/map_bg.jpg), cover, top center);

}


.map {
  /* position:relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $sectionMargin;


  &-box {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .map-google {
      width: 70vw;
      max-width: 800px;
      height: 50vw;
      max-height: 600px;
      border: 2px solid $color-honey;
      // @include shadow;
      // border-radius: 5px;
    }
  }

}