.wrapper--shopping {
  @include layout(url(../../src/images/shopping_bg.png), cover, left);

  padding-bottom: 100vh; // for spreading the area of this background

}

.content {
  // @include header(7rem 0 10rem 10vw);

  &__cards {
    // margin-top: calc(#{$sectionMargin} + 4rem); 

    // margin-top: calc(-100vh + #{$sectionMargin} + 4rem);
    margin-bottom: $sectionMargin;
    position: relative; //for a triangle bg
  }
}

.card-container {
  max-width: 120rem;
  margin: 7rem 10vw;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 7rem;
  grid-row-gap: calc(#{$sectionMargin} + 4rem);

  @media (max-width: $huge) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $big) {

    grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 3px;
  justify-self: center;
  // overflow: hidden;
  max-width: 380px;
  @include shadow2;
  background-color: $color-white;

  display: flex;
  flex-direction: column;
  backface-visibility: hidden;

  &__header {
    height: 20rem;
    position: relative;
    @include shadow2;
  }

  &__picture {
    &-frame {
      width: 21.9rem;
      height: 25.3rem;
      top: -60px;
      right: -2px;
      @include hexagon;
      @include hexFrame;
    }

    &-img {
      position: relative;
      left: -66px;
      transform: rotate(88deg);
      opacity: 0.8;
    }

    &-overlay {
      @include overlay;
    }
  }

  .heading-tertirary {
    position: absolute;
    top: 2rem;
    left: -1rem;
    width: 70%;
    z-index: 10;
    font-size: 2.8rem;
    color: $color-white;
    font-family: $font-primary;
    text-align: left;
    letter-spacing: 2px;

    span {
      z-index: -1;
      background: linear-gradient(to right bottom, $color-red-3, $color-red-2);
      padding: 1.2rem 2rem;
      line-height: 1;

      +span {
        z-index: 1;
      }
    }
  }

  &__details {
    // display: grid;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem 2.5rem 3rem;
  }

  &__description {
    grid-column: 1/-1;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 120%;
  }

  &__data-box {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.7rem;
    grid-column-gap: 2rem;
    background: $color-honey-3;
    padding: 2.5rem 3rem;
    min-height: 15.4rem; // in case there is less than three option
  }

  &__data {
    display: flex;
    align-items: center;
    justify-content: center;

    .card__icon {
      margin-right: 1rem;
      width: 3rem;
      height: 4rem;
    }
  }

  &__stars {
    display: flex;
    justify-content: center;
    margin-top: -3rem;
    margin-bottom: 1.5rem;
  }

  &__star img {
    width: 20px;
  }

  &__star:not(:last-child) {
    margin-right: 1rem;
  }

  &__footer {
    background-color: $color-red-3;
    // height: 2.6rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.8rem 3rem;

    .btn {
      text-decoration: none;
      @include btn--tiny;
      @include btn--white;
      border-width: 1px;
      border-radius: 5%;
      text-transform: uppercase;
    }
  }
}