.wrapper--table {
  @include layout(url(../src/images/description-bg.jpg), cover, top center); 
}

.navigation-info {


  &__item {
    padding: 1rem;
    line-height: 100%;
  }
}

.table-nav--blank {
  margin-top: $sectionMargin/2;
}