//FONTS

$font-secondary: 'Poppins', sans-serif;
$font-primary: 'Bungee', cursive;

//COLORS
$color-honey: #dabd84;
$color-honey-2: #d5b275;
$color-honey-3: #f1e2c4;
$color-honey-4: #fadea4;
$color-honey-5: #edd6a3;
$color-honey-6: #ddbd85;
$color-honey-7: #d7b57a;
$color-honey-8: #f6edde;

$color-orange: #f2994a;
$color-yellow: #f6c768;

$color-red: #624b47;
$color-red-2: #e05e58;
$color-red-3: #ed806b;
$color-red-4: #4e3c39;

$color-blue: #4c4de0;
$color-green: #375259;

$color-gray: #333333;
$color-sarah: #3c4142;

$color-gray-2: #bdbdbd;
$color-gray-3: #828282;
$color-gray-4: #796e5c;
$color-dark: #2a2a2a;

$color-white: #ffffff;
$color-white-2: #f2f2f2;
// $color-honey: #EECF90;
// $color-honey-2: #d5b275;
// $color-honey-3: #F1E2C4;
// $color-honey-4: #FADEA4;
// $color-honey-5: #EDD6A3;
// $color-honey-6: #DDBD85;
// $color-honey-7: #D7B57A;

// $color-orange: #F2994A;
// $color-yellow: #F6C768;

// $color-red: #963B29;
// $color-red-2: #E05E58;
// $color-red-3: #ED806B;

// $color-blue: #4C4DE0;
// $color-green: #79E0A0;

// $color-gray: #333333;
// $color-sarah: #3c4142;

// $color-gray-2:#BDBDBD;
// $color-gray-3:#828282;
// $color-gray-4:#796E5C;
// $color-dark: #4F4F4F;

// $color-white: #ffffff;
// $color-white-2: #f2f2f2;

//margins

$sectionMargin: 14rem;

// $color-honey: #dfd3c3;
// $color-honey: #eecf90e5;
// $color-honey-2: #67403d;
// $color-honey-3: #381c18;
// $color-honey-4: #251f1f;
// $color-honey-5: #180e0d;
// $color-honey-6: #d3b473;
// $color-honey-7: #b9bebe;
// $color-honey-8: #7e7f83;
.mt-bg {
  margin-top: 8rem;
}
